[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
