.footer {
    margin-top: 60px;
    background: #252829;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.footer small {
    font-size: 22px;
    font-weight: 300;
}

.github {
    margin-right: 15px;
}

.footer p {
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 0;
}

.footer a {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .footer {
        justify-content: space-around;
    }

    .footer small {
        font-size: 20px;
    }

    .footer p {
        flex-direction: column;
        font-size: 16px;
    }

    .top {
        display: none;
    }
}