@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Bahnschrift, Segoe UI, Roboto, Arial, sans-serif;
    background: #14161A;
    color: #FFF;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.15s;
}