.header {
    display: flex;
    align-items: center;
    padding: 5px 30px 0px 20px;
    background: #232427;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    clip-path: circle(40%);
    margin-right: 20px;
}

.title {
    margin-right: auto;
    font-size: 28px;
}

.right {
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 1000px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: inline;
        margin: auto;
    }

    .title {
        display: inline;
        margin: auto;
        font-size: 32px;
    }

    .right {
        font-size: 24px;
    }
}