* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Bahnschrift, Segoe UI, Roboto, Arial, sans-serif;
    background: #1A1C1D;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: initial;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #FF8686;
}

ul {
    padding-left: 0;
    list-style: none;
}

.red {
    color: #FF8686;
}