.content {
    width: 80%;
    margin: auto;
}

.bigger {
    font-weight: normal;
    font-size: 26px;
}

.welcome {
    margin: 70px 50px;
    font-size: 20px;
}

.description {
    color: #D2D2D2;
}

.latest {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.latest p {
    font-weight: 300;
    font-size: 16px;
    color: #D2D2D2;
    padding-left: 40px;
    padding-right: 40px;
}

.latest > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2C2C2E;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 30px 50px;
    max-width: 500px;
    height: 530px;
}

.content h2 {
    /* display: inline; */
    margin: 0;
    text-align: center;
    font-size: 26px;
}

.categories {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 20px;
}

.categories * {
    background: #1F1F1F;
    padding: 3px 4px;
    border-radius: 3px;
    margin-right: 10px;
}

.thumbnail {
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 1000px) {
    .welcome {
        margin: 40px 25px;
        font-size: 20px;
    }
    
    .content h1, .latest > li {
        margin: 30px 20px;
    }
    
    .content h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .latest {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .categories {
        margin-left: 0;
    }
}